*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

.clear{
    clear: both;
}

/* Header */

.top-header{
    margin-top: 2em;
    display:flex;
    justify-content: space-between;
    border-bottom: 4px solid red;
    margin-bottom: 10em;
}

.top-header img{
    max-width: 10em;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.menu-mobile{
    display: none;
}

.top-header nav{
    width: 100%;
    text-align: right;
}

.top-header nav ul li{
    display: inline-block;
    padding: 2%;
    font-size: 1.3em;
    margin-top: .5em;
    font-style: italic;
    margin-right: 1%;
}

.top-header nav ul li:last-child {
    margin-right: 4%;
}

.top-header nav ul li a{
    color: black;
    text-decoration: none;
    transition: color .5s;
}

.top-header nav ul li a:hover{
    color: red;
}

.top-header nav ul li:nth-of-type(4) a{
    color: red;
    transition: color .5s;
}

.top-header nav ul li:nth-of-type(4) a:hover{
    color: black;
}

.line-title{
    display: flex;
    justify-content:space-around;
}

.line-left, .line-right{
    border-bottom: 3px solid black;
    color:transparent;
    width: 45%
}

.title{
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    max-width: 10em;
}

/*main*/

.sell-car-main{
    margin-top: 5em;
    width: 90%;
    margin: 5em auto 5em auto;
    max-width: 900px;
}

.title-indication span a, span{
    color: black;
    text-decoration: none;
    margin-right: 2%;
    text-transform: uppercase;
}

.title-indication span:last-child{
    color: red;
}

.description-car{
    margin-top: .5em;
}

.description-car img{
    max-width: 65%;
    width: 100%;
}

.text-description{

    width: 33%;
    margin-left: 1%;
    float: right;
}

.text-description h1{
    margin-bottom: 1em;
    margin-top: .8em;
}

.text-description button{
    display: block;
    margin: 2em 0;
    background-color:  #EB2D2D;
    color: white;
    padding:10px 2%;
    width:90%;
    max-width: 200px;
    border: none;
    border-bottom: 5px solid #B21E1E;
}

.slide-car{
    width:71%;
    margin: 2em 0;
}

.slide-car img{
    display: inline-block;
    margin: 0 auto;
}

.slide-car img:nth-of-type(1){
    margin-left: 4%;
}

.slide-car img:nth-of-type(1),.slide-car img:nth-of-type(5){
    margin-bottom: 7%;
    display: inline-block;
    cursor: pointer;
    
}

.slide-car img:nth-of-type(2),.slide-car img:nth-of-type(3),.slide-car img:nth-of-type(4){
    width: 24%;
    margin:0 1%;
    cursor:pointer;
}

.slide-car img:nth-of-type(2){
    border: 5px solid #ccc;
}

/* form contato */
.form fieldset{
    border: none;
}

form{
    width:80%;
    max-width: 37.5em;
    margin: 5em auto;
}

form input[type="name"]{
    padding: 1.2em 2%;
    width:100%;
    outline:none;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
}

form input[type="email"]{
    padding: 1.2em 2%;
    width: 48%;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
    margin-right: 2%;
}

form input[type="number"]{
    padding: 1.2em 2%;
    width:49.3%;
    outline: none;
    border: 1px solid #ccc
}


form input[type="text"]{
    padding: 3.1em 2%;
    width:100%;
    outline:none;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
}

fieldset > input[type="button"]{
    background-color: #EB2D2D;
    color: white;
    border: none;
    padding: 1em;
    width: 100%;
    max-width: 9.3em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 5px solid #B21E1E;
    cursor: pointer;
    transition: background .5s;
    display: block;
    margin: 2.5em auto 0 auto;
}

fieldset > input[type="button"]:hover{
    background-color: red;
}




/* veiculos em destaque */

.pictures-cars{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    width: 97%;
    max-width: 79em;
    margin: 5em auto;
}

.car1 img{
    max-width: 25em;
    width:100%;
}

.car1 p{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
}

.car1 span{
    margin-top: 1em;
    display:block;
    color: rgb(173, 173, 173);
}

input[value="Mais detalhes"]{
    background-color: #EB2D2D;
    color: white;
    margin-top: 2.5em;
    margin-bottom: 5em;
    border: none;
    padding: .9em 2%;
    width: 70%;
    max-width:9.3em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 5px solid #B21E1E;
    cursor: pointer;
    transition: background .5s;
}

input[type="button"]:hover{
    background-color: red;
}
